@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Health Manager</h1>
    <p class="lead">O Health Manager é um sistema de gerenciamento de consultas e dados de pacientes.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo ao Sistema Web Health Manager!</h2>
        <p>
            Aqui você pode consultar as referências de atestados ou consultar suas informações como paciente.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Implementações</h2>
        <p>Novas tarefas e opções serão incluídas constantemente para proporcionar uma melhor experiência e usabilidade para todos os usuários.</p>
    </div>
</div>